/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 100px;
    backdrop-filter: brightness(.5);
    color: aliceblue;
    letter-spacing: 4px;
}

.btn {
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
}


.btn:hover {
    background-color: white;
    color: black;
}

.split {
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left {
    background-color: pink;
    position: absolute;
    left: 0;
    background-image: url("https://cdsassets.apple.com/live/7WUAS350/images/tech-specs/iphone-air-hero.png");
    background-size: cover;
    text-align: center;
    transition: width 1s ease-in-out;
}

.split.right {
    text-align: center;
    background-color: lightblue;
    position: absolute;
    right: 0;
    background-image: url("https://image-us.samsung.com/us/smartphones/galaxy-s25-ultra/gallery/images/SCOMPARA-188-BuyPage-S25Ultra-Group-ExclusiveColors-Jadegreen-800x600.jpg");
    background-size: cover;
    transition: width 1s ease-in-out;
}

.active-left .left{
    width: 75%;
}
.active-left .right{
    width: 25%;
}

.active-right .left{
    width: 25%;
}
.active-right .right{
    width: 75%;
}