body{
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(https://media.istockphoto.com/id/607280514/photo/lupins-of-lake-tekapo.webp?a=1&b=1&s=612x612&w=0&k=20&c=vL24S--tf6DsHj0I-jFkDTD-1OCjdePGgGHtLo1bJWg=);
    background-size: cover;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: white;
}
.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.clock .text {
    font-size: 10px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}